<!DOCTYPE html>
<html>
<head>
    <title>Form for Excel and Inputs</title>
    <link rel="stylesheet" type="text/css" href="static/index.css?t=[timestamp]">
</head>
<body>

    <div class="container">
        <h2>Upload Excel Form</h2>
        <form action="/extract" method="post" enctype="multipart/form-data">
            <input type="file" name="excelFile" accept=".xls,.xlsx" />
            <br/><br/>

            <h2>Text Input Fields</h2>
            <div class="text-inputs">
                <label for="field1">Enter first line for file</label>
                <input type="text" id="field1" name="field1" class="textfield" />
                <br/><br/>

                <label for="field2">Enter bottom label</label>
                <input type="text" id="field2" name="field2" class="textfield" />
                <br/><br/>

                <label for="field3">Enter body of email after "Please find attached"</label>
                <input type="text" id="field3" name="field3" class="textfield" />
                <br/><br/>

                <label for="field4">Field 4:</label>
                <input type="text" id="field4" name="field4" class="textfield" />
                <br/><br/>
            </div>

            <h2>Password Encryption</h2>
            <div class="checkbox-input">
                <label for="encrypt">Encrypt Password:</label>
                <input type="checkbox" id="encrypt" name="encrypt" />
                <br/><br/>
            </div>

            <input type="submit" value="Submit" />
        </form>
    </div>

</body>
</html>
